// Backgroud Color
$main-backgroud-light: #FFFFFF;
$content-backgroud-light: #F5F5F5;

// Text Color
$primary-color-light: #3f3a64;
$primary-hover-color-light: #3f3a646a;
$primary-color-dark:  #ecf0f1;

// Button Color
$button-color-func:  #3498db;

//Nav Main
$nav-main-content: 18px;

//Icon
$nav-icon: 25px;

//Line
$line-color-light:#3f3a641b;
$line-color-highlight: #4d524f;
$line-color-blue:    #3498db;

// Text Size
$text-banner-title: 28px;
$text-banner-content: 22px;
$text-size-big: 22px;
$text-size-medium: 20px;
$text-size-small: 18px;
$text-size-detail: 16px;